@page
@model FuwaCards.Pages.singlesModel

@{
    var pageCount = (int)Math.Ceiling((double)Model.Filter.TotalItems / Model.Filter.PageSize);
}

<form method="get" id="filtersForm">
    <div class="filter-container">
        <div class="dropdown">
            <span class="filter-label">Rarity</span>
            <div class="dropdown-content" id="rarityDropdown">
                @foreach (var rarity in Model.RarityOptions.Take(5))
                {
                    var count = Model.Filter.RarityCounts.ContainsKey(rarity) ? Model.Filter.RarityCounts[rarity] : 0;
                    <div class="filter-option">
                        <input type="checkbox" id="rarity_@rarity" name="Filter.RaritySelection" value="@rarity" @(Model.Filter.RaritySelection != null && Model.Filter.RaritySelection.Contains(rarity) ? "checked" : "") />
                        <label for="rarity_@rarity" class="rarityLabel">@rarity</label>
                        <label class="rarityCount"> (@count)</label>
                    </div>
                }
                @if (Model.RarityOptions.Count > 5)
                {
                    <div class="extra-options">
                        @foreach (var rarity in Model.RarityOptions.Skip(5))
                        {
                            var count = Model.Filter.RarityCounts.ContainsKey(rarity) ? Model.Filter.RarityCounts[rarity] : 0;
                            <div class="filter-option">
                                <input type="checkbox" id="rarity_@rarity" name="Filter.RaritySelection" value="@rarity" @(Model.Filter.RaritySelection != null && Model.Filter.RaritySelection.Contains(rarity) ? "checked" : "") />
                                <label for="rarity_@rarity" class="rarityLabel">@rarity</label>
                                <label class="rarityCount"> (@count)</label>
                            </div>
                        }
                    </div>
                    <button type="button" class="show-more" data-target="rarityDropdown">Show More</button>
                }
            </div>
        </div>

        <div class="dropdown">
            <span class="filter-label">Set</span>
            <div class="dropdown-content" id="setDropdown">
                @foreach (var setName in Model.SetNameOptions.Take(5))
                {
                    var count = Model.Filter.SetNameCounts.ContainsKey(setName) ? Model.Filter.SetNameCounts[setName] : 0;
                    <div class="filter-option">
                        <input type="checkbox" id="setName_@setName" name="Filter.SetNameSelection" value="@setName" @(Model.Filter.SetNameSelection != null && Model.Filter.SetNameSelection.Contains(setName) ? "checked" : "") />
                        <label for="setName_@setName" class="setNameLabel">@setName</label>
                        <label class="setNameCount"> (@count)</label>
                    </div>
                }
                @if (Model.SetNameOptions.Count > 5)
                {
                    <div class="extra-options">
                        @foreach (var setName in Model.SetNameOptions.Skip(5))
                        {
                            var count = Model.Filter.SetNameCounts.ContainsKey(setName) ? Model.Filter.SetNameCounts[setName] : 0;
                            <div class="filter-option">
                                <input type="checkbox" id="setName_@setName" name="Filter.SetNameSelection" value="@setName" @(Model.Filter.SetNameSelection != null && Model.Filter.SetNameSelection.Contains(setName) ? "checked" : "") />
                                <label for="setName_@setName" class="setNameLabel">@setName</label>
                                <label class="setNameCount"> (@count)</label>
                            </div>
                        }
                    </div>
                    <button type="button" class="show-more" data-target="setDropdown">Show More</button>
                }
            </div>
        </div>

        <div class="dropdown">
            <span class="filter-label">Type</span>
            <div class="dropdown-content" id="typeDropdown">
                @foreach (var typeName in Model.TypeOptions.Take(5))
                {
                    var count = Model.Filter.TypeCounts.ContainsKey(typeName) ? Model.Filter.TypeCounts[typeName] : 0;
                    <div class="filter-option">
                        <input type="checkbox" id="typeName_@typeName" name="Filter.TypeSelection" value="@typeName" @(Model.Filter.TypeSelection != null && Model.Filter.TypeSelection.Contains(typeName) ? "checked" : "") />
                        <label for="typeName_@typeName" class="typeNameLabel">@typeName</label>
                        <label class="typeNameCount"> (@count)</label>
                    </div>
                }
                @if (Model.TypeOptions.Count > 5)
                {
                    <div class="extra-options" style="display: none;">
                        @foreach (var typeName in Model.TypeOptions.Skip(5))
                        {
                            var count = Model.Filter.TypeCounts.ContainsKey(typeName) ? Model.Filter.TypeCounts[typeName] : 0;
                            <div class="filter-option">
                                <input type="checkbox" id="typeName_@typeName" name="Filter.TypeSelection" value="@typeName" @(Model.Filter.TypeSelection != null && Model.Filter.TypeSelection.Contains(typeName) ? "checked" : "") />
                                <label for="typeName_@typeName" class="typeNameLabel">@typeName</label>
                                <label class="typeNameCount"> (@count)</label>
                            </div>
                        }
                    </div>
                    <button type="button" class="show-more" data-target="typeDropdown">Show More</button>
                }
            </div>
        </div>
    </div>

    <input type="hidden" name="Filter.PageSize" value="@Model.Filter.PageSize" />
    <input type="hidden" name="Filter.PageNumber" value="1" />
</form>

<div class="pagination">
    <form method="get">
        <input type="hidden" name="Filter.PageSize" value="@Model.Filter.PageSize" />
        <input type="hidden" name="Filter.RaritySelection" value="@string.Join(",", Model.Filter.RaritySelection ?? new List<string>())" />
        <input type="hidden" name="Filter.SetNameSelection" value="@string.Join(",", Model.Filter.SetNameSelection ?? new List<string>())" />
        <input type="hidden" name="Filter.TypeSelection" value="@string.Join(",", Model.Filter.TypeSelection ?? new List<string>())" />

        @if (Model.Filter.PageNumber > 1)
        {
            <button type="submit" class="page-button" name="Filter.PageNumber" value="@(Model.Filter.PageNumber - 1)">Previous</button>
        }

        @for (var i = 1; i <= pageCount; i++)
        {
            <button type="submit" class="page-button" name="Filter.PageNumber" value="@i" @(Model.Filter.PageNumber == i ? "disabled" : "")>@i</button>
        }

        @if (Model.Filter.PageNumber < pageCount)
        {
            <button type="submit" class="page-button" name="Filter.PageNumber" value="@(Model.Filter.PageNumber + 1)">Next</button>
        }
    </form>
</div>

<div class="singles-container">
    @if (Model.Filter.PokemonSinglesList != null && Model.Filter.PokemonSinglesList.Any())
    {
        foreach (var pokemonSingle in Model.Filter.PokemonSinglesList)
        {
            var imageUrl = Url.Content($"~{pokemonSingle.Image}");
            <div class="individual-container">
                <img class="pokemon-image" src="@imageUrl" alt="Listing Image" />
                <p class="pokemon-name">@pokemonSingle.Name @pokemonSingle.Rarity @pokemonSingle.SetName</p>
                <p class="pokemon-price">£@pokemonSingle.Price.ToString("F2")</p>
                
                    <form method="post" asp-page-handler="Delete" class="delete-form">
                        <input type="hidden" name="id" value="@pokemonSingle.Id" />
                        <button type="submit">Delete</button>
                    </form>
                    <form method="get" asp-page="/Admin/Stock" class="edit-form">
                        <input type="hidden" name="id" value="@pokemonSingle.Id" />
                        <button type="submit" class="edit-button">Edit</button>
                    </form>
                
                <a href="?handler=ShowDetails&id=@pokemonSingle.Id" class="preview-button" data-back="See More" data-front="See More"></a>
            </div>
        }
    }
    else
    {
        <p>No items found.</p>
    }
</div>

@if (Model.SelectedPokemonSingle != null)
{
    <div id="modal" class="modal" style="display: block;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()"> Close &times;</span>
            <img id="modal-image" src="@Url.Content($"~{Model.SelectedPokemonSingle.Image}")" alt="Listing Image" />

            <div class="modal-information">
                <h2 class="modal-title">@Model.SelectedPokemonSingle.Name</h2>
                <p class="modal-price">Price: £@Model.SelectedPokemonSingle.Price.ToString("F2")</p>

                <p class="modal-quantity">Quantity</p>
                <div class="quantity-controls">
                    <button class="minus-one">-</button>
                    <button class="quantity">1</button>
                    <button class="plus-one">+</button>
                </div>

                <a class="preview-button small" href="#" data-back="Add to Basket" data-front="Add to Basket"></a>
            </div>
        </div>
    </div>
}

