@page
@model FuwaCards.Pages.singlesModel
@{
    var pageCount = (int)Math.Ceiling((double)Model.Filter.TotalItems / Model.Filter.PageSize);
}

    <form method="get">
    <div class="filter-container">

        <input type="hidden" name="Filter.PageSize" value="@Model.Filter.PageSize" />


        <div class="dropdown">
            <button type="button" class="dropdown-toggle" data-toggle="rarityDropdown">
                <span class="filter-label">Rarity</span>
                <div class="filter-arrow"></div>
            </button>
            <div id="rarityDropdown" class="dropdown-content">
                @foreach (var rarity in Model.RarityOptions)
                {
                    var count = Model.Filter.RarityCounts.ContainsKey(rarity) ? Model.Filter.RarityCounts[rarity] : 0;
                    <div class="filter-option">
                        <input type="checkbox" class="checkbox" id="rarity_@rarity" name="Filter.RaritySelection" value="@rarity" @(Model.Filter.RaritySelection != null && Model.Filter.RaritySelection.Contains(rarity) ? "checked" : "") />
                        <label for="rarity_@rarity" class="rarityLabel">@rarity </label>
                        <label for="rarity_@count" class="rarityCount"> (@count) </label>
                    </div>
                }
            </div>
        </div>

        <div class="dropdown">
            <button type="button" class="dropdown-toggle" data-toggle="setDropdown">
                <span class="filter-label">Set</span>
                <div class="filter-arrow"></div>
            </button>
            <div id="setDropdown" class="dropdown-content">
                @foreach (var setName in Model.SetNameOptions)
                {
                    var count = Model.Filter.SetNameCounts.ContainsKey(setName) ? Model.Filter.SetNameCounts[setName] : 0;

                    <div class="filter-option">
                        <input type="checkbox" id="setName_@setName" name="Filter.SetNameSelection" value="@setName" @(Model.Filter.SetNameSelection != null && Model.Filter.SetNameSelection.Contains(setName) ? "checked" : "") />
                        <label for="rarity_@setName" class="rarityLabel">@setName </label>
                        <label for="rarity_@count" class="rarityCount"> (@count)</label>
                    </div>
                }
            </div>
        </div>
        </div>

        <div class="pagination">
            @if (Model.Filter.PageNumber > 1)
            {
                <button type="submit" name="Filter.PageNumber" value="@(Model.Filter.PageNumber - 1)">Previous</button>
            }
            @for (var i = 1; i <= pageCount; i++)
            {
                <button type="submit" name="Filter.PageNumber" value="@i" @(Model.Filter.PageNumber == i ? "disabled" : "")>@i</button>
            }
            @if (Model.Filter.PageNumber < pageCount)
            {
                <button type="submit" name="Filter.PageNumber" value="@(Model.Filter.PageNumber + 1)">Next</button>
            }
        </div>
    </form>

<div class="singles-container">
@if (Model.Filter.PokemonSinglesList != null)
{
    foreach (var pokemonSingle in Model.Filter.PokemonSinglesList)
    {
        var imageUrl = Url.Content($"~{pokemonSingle.Image}");
        <div class="individual-container">
            <img class="pokemon-image" src="@imageUrl" alt="Listing Image" />
            <p class="pokemon-name">@pokemonSingle.Name @pokemonSingle.Rarity @pokemonSingle.SetName</p>
                <p class="pokemon-price">£@pokemonSingle.Price.ToString("F2")</p>
                @if (User.IsInRole("Admin"))
                {
                    <form method="post" asp-page-handler="Delete" class="delete-form">
                        <input type="hidden" name="id" value="@pokemonSingle.Id" />
                        <button type="submit">Delete</button>
                    </form>
                    <form method="get" asp-page="/Admin/Stock" class="edit-form">
                        <input type="hidden" name="id" value="@pokemonSingle.Id" />
                    <button type="submit" class="edit-button">Edit</button>
                </form>
                }
            

            <a href="#" class="preview-button" data-back="See More" data-front="See More"></a>
        </div>
    }
}
</div>