@page
@model FuwaCards.Pages.singlesModel
@{
}

<div class="singles-container">
    @foreach (var pokemonSingle in Model.PokemonSinglesList)
    {
        var imageUrl = Url.Content($"~{pokemonSingle.Image}");
        <div class="individual-container">
            <img class="pokemon-image" src="@imageUrl" alt="Listing Image" />
            <p class="pokemon-name">@pokemonSingle.Name @pokemonSingle.Rarity @pokemonSingle.Set</p>
            <p class="pokemon-price">£@pokemonSingle.Price</p>
            <form method="post" asp-page-handler="Delete" class="delete-form">
                <input type="hidden" name="id" value="@pokemonSingle.Id" />
                <button type="submit">Delete</button>
            </form>
            <a href="#" class="preview-button" data-back="See More" data-front="See More"></a>
        </div>
    }
</div>
